.footer {
  width: 100%;
  min-height: 126px;

  background-color: $blue;
}

.footer__wrapper {
  @include wrapper;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 1135px;
  min-height: 126px;
  padding: 10px;
}

.footer__logo {
  @include link;

  display: block;

  width: 99px;
  height: 32px;
}

.footer__box {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 67%;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< tablet >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $tablet-width) {
  .footer__box {
    width: 72%;
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .footer {
    min-height: 210px;
  }

  .footer__wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    max-width: 360px;
    min-height: 210px;
    padding: 10px;
    padding-top: 41px;
  }

  .footer__logo {
    margin: 0 10px;
  }

  .footer__box {
    flex-direction: column-reverse;
    align-items: flex-start;

    width: 100%;
  }
}
