.header {
  width: 100%;
}

.header__wrapper {
  @include wrapper;
  @include out;

  display: flex;

  max-width: 1135px;
  min-height: 154px;
  padding: 61px 10px 0;
}

.header__logo,
.header__logo-img {
  width: 99px;
  height: 32px;
}

.header__logo {
  @include logo;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .header__wrapper {
    justify-content: center;

    min-height: 96px;
    padding-top: 32px;
  }
}
