.menu {
  @include ul-style;

  display: flex;
  flex-wrap: wrap;

  max-width: 415px;
}

.menu__item {
  @include link;

  padding: 5px 18px;

  &:hover {
    text-decoration: underline;
  }
}

.menu__link {
  display: block;

  line-height: 21px;
  font-weight: 700;
  color: white;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .menu__item {
    padding: 5px 9px;
  }
}
