.promo {
  width: 100%;
  min-height: 485px;

  background-image: url("../img/bg-promo.jpg");
  background-repeat: no-repeat;
  background-position: left 1px;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-promo@2x.jpg");
    background-size: 666px auto;
  }
}

.promo__wrapper {
  @include wrapper;

  display: flex;
  justify-content: flex-end;

  max-width: 1135px;
  min-height: 485px;
}

.promo__box {
  max-width: 545px;
  min-width: 545px;
  padding: 104px 0 50px 10px;
}

.promo__heading {
  @include font-heading;

  display: block;

  margin-bottom: 33px;

  background-color: white;
}

.promo__text {
  max-width: 530px;
  margin: 0;
  margin-bottom: 41px;

  line-height: 25px;

  background-color: white;
}

.promo__link-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 348px;
  margin-bottom: 20px;
}

.promo__link {
  @include link;

  display: block;

  width: 156px;
  min-height: 47px;
  margin-bottom: 20px;

  background-color: black;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 7px;

  &--apple {
    background-image: url("../img/btn-apple.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/btn-apple@2x.png");
      background-size: 156px auto;
    }
  }

  &--google {
    background-image: url("../img/btn-google.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/btn-google@2x.png");
      background-size: 156px auto;
    }
  }
}

.promo__img-box {
  display: none;
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .promo {
    @include bg-none;

    min-height: 696px;
  }

  .promo__wrapper {
    justify-content: center;
    flex-wrap: wrap;

    max-width: 360px;
    min-height: 696px;
  }

  .promo__box {
    min-width: 320px;
    padding: 18px 20px 6px;

    text-align: center;
  }

  .promo__heading {
    margin-bottom: 13px;
  }

  .promo__text {
    @include wrapper;

    max-width: 305px;
    margin-bottom: 40px;
  }

  .promo__link-box {
    min-width: 320px;
  }

  .promo__link {
    width: 146px;
    min-height: 44px;

    &--apple {
      background-image: url("../img/btn-apple-mobile.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/btn-apple-mobile@2x.png");
        background-size: 146px auto;
      }
    }

    &--google {
      background-image: url("../img/btn-google-mobile.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/btn-google-mobile@2x.png");
        background-size: 146px auto;
      }
    }
  }

  .promo__img-box {
    display: block;
  }

  .promo__img {
    width: 360px;
    height: 261px;
  }
}
