.promo-main {
  width: 100%;
  min-height: 666px;

  background-color: $gray;
  background-image: url("../img/bg-promo-main.jpg");
  background-repeat: no-repeat;
  background-position: right top;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-promo-main@2x.jpg");
    background-size: 1440px auto;
  }
}

.promo-main__wrapper {
  @include wrapper;

  max-width: 1135px;
  min-height: 666px;
  padding: 228px 10px 0;
}

.promo-main__heading {
  display: block;

  max-width: 550px;
  margin-bottom: 27px;

  font-size: 36px;
  line-height: 48px;
  font-weight: 700;
  color: $black;
  letter-spacing: 0.03em;

  background-color: $gray;
}

.promo-main__text {
  max-width: 460px;
  margin: 0;
  margin-bottom: 51px;

  font-size: 18px;
  line-height: 26px;

  background-color: $gray;
}

.promo-main__link-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  max-width: 348px;
  margin-bottom: 20px;
}

.promo-main__link {
  @include link;

  display: block;

  width: 156px;
  min-height: 47px;
  margin-bottom: 20px;

  background-color: black;
  background-repeat: no-repeat;
  border: 1px solid black;
  border-radius: 7px;

  &--apple {
    background-image: url("../img/btn-apple.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/btn-apple@2x.png");
      background-size: 156px auto;
    }
  }

  &--google {
    background-image: url("../img/btn-google.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/btn-google@2x.png");
      background-size: 156px auto;
    }
  }
}

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<< mobile >>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

@media (max-width: $mobile-width) {
  .promo-main {
    @include bg-none;

    min-height: 521px;
  }

  .promo-main__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    max-width: 360px;
    min-height: 521px;
    padding: 209px 20px 15px;
  }

  .promo-main__heading {
    margin-bottom: 29px;

    font-size: 30px;
    line-height: 40px;
    text-align: center;
  }

  .promo-main__text {
    max-width: 310px;
    margin-bottom: 53px;

    font-size: inherit;
    line-height: inherit;
    text-align: center;
  }

  .promo-main__link-box {
    min-width: 320px;
  }

  .promo-main__link {
    width: 146px;
    min-height: 44px;

    &--apple {
      background-image: url("../img/btn-apple-mobile.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/btn-apple-mobile@2x.png");
        background-size: 146px auto;
      }
    }

    &--google {
      background-image: url("../img/btn-google-mobile.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/btn-google-mobile@2x.png");
        background-size: 146px auto;
      }
    }
  }
}
