$desktop-width-help: 1288px;
$tablet-width: 1023px; // 1023-768
$mobile-width: 767px; // 767-360

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$black: #333333;
$dark-gray: #828282;
$gray: #f4f6f9;
$gray-2: #fafafa;
$blue: #00adee;
